<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^simples/?$ simples.php
RewriteRule ^agenda/?$ agenda.php
RewriteRule ^agenda/pg/([a-z0-9]*)\/?$ agenda.php?pg=$1
RewriteRule ^galerias/?$ galerias.php
RewriteRule ^noticias/?$ noticias.php
RewriteRule ^feiras/?$ feiras.php
Rewriterule ^galeria-congressos/?$ galeria-congressos.php
RewriteRule ^clientes/?$ clientes.php
RewriteRule ^portifolio/?$ portifolio.php
RewriteRule ^quem-somos/?$ quem-somos.php
Rewriterule ^noticias/?$ noticias.php
RewriteRule ^index/?$ index.php
Rewriterule ^eventos-destaque/?$ eventos-destaque.php
RewriteRule ^eventos-destaque/pg/([a-z0-9-]*)\/?$ eventos-destaque.php?pg=$1
</IfModule>
