<IfModule mod_rewrite.c>
RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^simples/?$ simples.php
RewriteRule ^agenda/?$ agenda.php
RewriteRule ^agenda/pg/([a-z0-9]*)\/?$ agenda.php?pg=$1
RewriteRule ^galerias/?$ galerias.php
RewriteRule ^noticias/?$ noticias.php
RewriteRule ^feiras/?$ feiras.php
RewriteRule ^clientes/?$ clientes.php
RewriteRule ^portifolio/?$ portifolio.php
RewriteRule ^quem-somos/?$ quem-somos.php
Rewriterule ^noticias/?$ noticias.php
RewriteRule ^index/?$ index.php
Rewriterule ^eventos_destaque/?$ eventos_destaque.php
RewriteRule ^eventos_destaque/pg/([a-z0-9]*)\/?$ eventos_destaque.php?pg=$1
RewriteRule ^parametro_string/pg/([a-z0-9-]*)\/?$ parametro_string.php?pg=$1
RewriteRule ^parametro_int\/?([1-9]*)\/?$ parametro_int.php?qs_pg2805=$1
</IfModule>
