/* CSS crunched with Crunch - http://crunchapp.net/ */
@import url("reset.css");
/* Import style sheets, hiding from IE/Mac \*/
/* End of import hide */
/* GERAL */
body .centraliza {
  width: 1200px;
  margin: 0 auto;
}
body a,
body a:active,
body a:visited {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  color: inherit;
  text-decoration: underline;
}
body .separator {
  clear: both;
}
body #content {
  background: url(../images/bg_content.png);
  height: 555px;
}
body #area_title {
  background: url(../images/bg_top_title.png);
  height: 208px;
}
body #area_title #title {
  float: left;
  margin-left: 100px;
  margin-top: 50px;
  padding-top: 10px;
}
body #area_title #title img {
  padding-top: 15px;
}
/* HEADER */
#header {
  background: url(../images/bg_topo.jpg);
}
#header #topo {
  width: 1000px;
  height: 180px;
}
#header #topo #redes {
  float: right;
  height: 64px;
  width: 248px;
  background: url(../images/bg_redes.png);
  margin-top: 30px;
  margin-right: 10px;
}
#header #topo #redes #rede_logo {
  float: right;
  margin-right: 15px;
  margin-top: 14px;
}
#header #topo #contato_topo {
  float: right;
  margin-right: -80px;
  width: 249px;
  height: 64px;
  background: url(../images/contato_topo.png);
  margin-top: 30px;
}
#menu_topo {
  background: url(../images/bg_menu_topo.png) no-repeat #aa6300 center;
  height: 31px;
}
#menu_topo ul {
  list-style-type: none;
  padding-left: 280px;
  padding-top: 3px;
}
#menu_topo ul li {
  display: inline;
  margin-left: 15px;
}
/* FOOTER */
#footer {
  background: url(../images/footer/bg_footer.png);
  height: 200px;
}
#footer #menu_footer {
  background: url(../images/footer/bg_menu_footer.png) no-repeat bottom;
  padding-top: 20px;
  width: 840px;
  height: 45px;
}
#footer #menu_footer ul {
  list-style-type: none;
  padding-top: 10px;
  padding-left: 30px;
}
#footer #menu_footer ul li {
  display: inline;
  margin: 12px;
}
#footer #menu_footer #footer_redes {
  float: right;
  margin-top: -28px;
  margin-right: 12px;
}
#footer #texto_footer {
  color: #fff;
  float: left;
  text-align: center;
  margin-top: 40px;
}
/* HOME */
#area_info {
  background: url(../images/bg_home_slider.png);
  height: 460px;
}
#area_info #principal_slider {
  float: left;
  height: 420px;
  width: 770px;
  padding-top: 30px;
}
#area_info #area_destaque {
  background: url(../images/destaque.png) no-repeat;
  float: right;
  width: 358px;
  height: 40px;
  margin-right: 40px;
  margin-top: 27px;
}
#area_info #area_destaque #menu {
  width: 360px;
  height: 360px;
  margin-top: 40px;
}
#area_info #area_destaque #menu ul {
  list-style: none;
}
#area_info #area_destaque #menu ul .data {
  background: url(../images/data.png) no-repeat;
  float: left;
  width: 65px;
  height: 63px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
#area_info #area_destaque #menu ul .data .d {
  font-size: 26px;
  margin-top: 10px;
}
#area_info #area_destaque #menu ul .data .m {
  font-size: 14px;
  margin-top: -22px;
}
#area_info #area_destaque #menu ul .titulo {
  float: left;
  width: 270px;
  margin-left: 20px;
  margin-top: 20px;
  color: white;
}
#area_home_principal {
  background: url(../images/bg_home_principal.png);
  height: 570px;
}
#area_home_principal #area_noticias #link_conheca {
  float: left;
  background: url(../images/bg_home_area_de_atuacao.png) no-repeat;
  width: 735px;
  height: 570px;
}
#area_home_principal #area_noticias #link_conheca #img_1 {
  background: url(../images/area-de-atuacao/15-anos.png);
  float: left;
  width: 237px;
  height: 407px;
  margin-top: 130px;
  margin-left: 13px;
}
#area_home_principal #area_noticias #link_conheca #img_1:hover {
  background: url(../images/area-de-atuacao/15-anos-hover.png);
}
#area_home_principal #area_noticias #link_conheca #img_2 {
  background: url(../images/area-de-atuacao/casamentos.png);
  float: left;
  width: 237px;
  height: 407px;
  margin-top: 130px;
}
#area_home_principal #area_noticias #link_conheca #img_2:hover {
  background: url(../images/area-de-atuacao/casamentos-hover.png);
}
#area_home_principal #area_noticias #link_conheca #img_3 {
  background: url(../images/area-de-atuacao/feiras.png);
  float: left;
  width: 237px;
  height: 407px;
  margin-top: 130px;
}
#area_home_principal #area_noticias #link_conheca #img_3:hover {
  background: url(../images/area-de-atuacao/feiras-hover.png);
}
#area_home_principal #area_noticias #area_noticias {
  background: url(../images/noticias.png);
  float: right;
  width: 184px;
  height: 40px;
  margin-right: 230px;
  margin-top: 10px;
}
#area_home_principal #area_noticias #area_noticias #noticias {
  margin-top: 60px;
}
#area_home_principal #area_noticias #area_noticias #noticias ul {
  list-style: none;
}
#area_home_principal #area_noticias #area_noticias #noticias ul .data {
  float: left;
  width: 320px;
  font-size: 17px;
  color: #df5401;
  text-transform: uppercase;
}
#area_home_principal #area_noticias #area_noticias #noticias ul .texto {
  font-size: 15px;
  width: 330px;
  margin-top: 10px;
}
#area_home_principal #area_noticias #area_noticias #noticias ul .leia_mais {
  font-size: 15px;
  color: #df5401;
}
#area_home_principal #area_noticias #area_noticias #noticias .separator {
  background-color: #df5401;
  margin-top: 15px;
  margin-bottom: -10px;
  width: 315px;
  height: 1px;
}
#area_home_principal #area_noticias #area_noticias #noticias img {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
}
#area_home_principal #area_noticias #agenda {
  background: url(../images/bg_agenda.png);
  float: left;
  margin-left: 50px;
  margin-top: 400px;
  width: 385px;
  height: 97px;
}
#area_home_principal #area_noticias #agenda img {
  float: right;
  margin-top: 25px;
  margin-right: 13px;
}
#area_galeria {
  background: url(../images/bg_home_galeria.png);
  height: 340px;
}
#area_galeria #title_galeria {
  float: left;
  margin-left: 85px;
  margin-top: 27px;
}
#area_galeria #bt_ampliar {
  float: right;
  margin-right: 30px;
  margin-top: 35px;
}
#area_galeria #bt_agenda {
  float: right;
  margin-right: 30px;
  margin-top: 35px;
}
#area_galeria #home_area_images {
  margin-left: 35px;
  height: 170px;
}
#area_galeria #home_area_images #area_images {
  width: 1000px;
  height: 400px;
}
#area_galeria #home_area_images #area_images #area {
  padding-top: 115px;
  margin-left: 50px;
}
#area_galeria #home_area_images #area_images #area ul {
  list-style: none;
}
#area_galeria #home_area_images #area_images #area ul li {
  display: inline;
}
#area_galeria #home_area_images #area_images #next {
  float: left;
  margin-top: 120px;
  margin-left: -425px;
}
#area_galeria #home_area_images #area_images #prev {
  float: right;
  margin-top: -160px;
  margin-right: -140px;
}
/* AGENDA */
#pag_agenda #agenda {
  float: left;
  margin-top: 30px;
  margin-left: 100px;
  width: 190px;
}
#pag_agenda #agenda img {
  margin-bottom: 10px;
}
#pag_agenda #agenda ul {
  list-style-type: none;
}
#pag_agenda #agenda ul li {
  background-color: #bcbbbb;
  height: 35px;
  margin-top: 1px;
  text-decoration: none;
}
#pag_agenda #agenda ul li p {
  color: #fff;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 15px;
  height: 28px;
}
#pag_agenda #agenda ul li:hover {
  background-color: #ffb350;
}
#pag_agenda #agenda ul li:hover a {
  text-decoration: none;
}
#pag_agenda #agenda_info {
  background: url(../images/agenda/bg_area_info.png) no-repeat;
  float: right;
  height: 555px;
  width: 860px;
}
/* CLIENTES */
#pag_clientes #text_title {
  background: url(../images/clientes/topo_content.png);
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  width: 1172px;
  height: 80px;
}
#pag_clientes #text_title p {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 15px;
}
#pag_clientes #area_clientes_texto {
  float: left;
  margin-left: 80px;
  margin-top: 20px;
}
#pag_clientes #area_clientes_texto .title {
  color: #de8208;
  font-size: 15px;
}
#pag_clientes #area_clientes_texto .coluna_01 {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}
#pag_clientes #area_clientes_texto .coluna_02 {
  float: left;
  margin-left: 100px;
  margin-top: 10px;
}
/* GALERIAS */
#content_galerias {
  background: url(../images/bg_content.png);
  height: 575px;
}
#content_galerias #pag_galerias #text_title {
  float: left;
  margin-left: 130px;
  font-size: 15px;
}
#content_galerias #pag_galerias #text_title img {
  margin-left: 60px;
}
/* FEIRAS */
#pag_feiras #text_feiras {
  float: left;
  margin-top: 90px;
  margin-left: 450px;
}
#pag_feiras #feiras {
  float: left;
  width: 800px;
  height: 300px;
  margin-left: 250px;
  margin-top: 10px;
}
#pag_feiras #feiras ul {
  list-style: none;
}
#pag_feiras #feiras ul li {
  display: inline;
}
#pag_feiras #feiras ul li img {
  margin-bottom: 5px;
  margin-left: 5px;
}
/* GALERIAS AMAZOMPEC */
#content_galerias #pg_amazonpec #menu {
  background: url(../images/galerias/amazonpec/title_menu.png);
  float: left;
  width: 258px;
  height: 50px;
  margin-top: 60px;
  margin-left: 100px;
}
#content_galerias #pg_amazonpec #menu ul {
  list-style: none;
}
#content_galerias #pg_amazonpec #menu ul li {
  margin-bottom: -45px;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2010 {
  background-color: #a7a6a6;
  width: 258px;
  height: 50px;
  margin-top: 50px;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2010:hover {
  background-color: #f3ae4f;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2010 .ano {
  float: left;
  margin-top: 7px;
  font-size: 30px;
  margin-left: 20px;
  color: #fff;
  font-family: verdana;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2009 {
  background-color: #a7a6a6;
  width: 258px;
  height: 50px;
  margin-top: 50px;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2009:hover {
  background-color: #f3ae4f;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2009 .ano {
  float: left;
  margin-top: 7px;
  font-size: 30px;
  margin-left: 20px;
  color: #fff;
  font-family: verdana;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2008 {
  background-color: #a7a6a6;
  width: 258px;
  height: 50px;
  margin-top: 50px;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2008:hover {
  background-color: #f3ae4f;
}
#content_galerias #pg_amazonpec #menu ul li #feira_2008 .ano {
  float: left;
  margin-top: 7px;
  font-size: 30px;
  margin-left: 20px;
  color: #fff;
  font-family: verdana;
}
#content_galerias #pg_amazonpec #menu #voltar {
  float: left;
  margin-top: 60px;
}
#content_galerias #pg_amazonpec #area_images {
  background: url(../images/galerias/amazonpec/conteiner_feiras.png);
  float: right;
  width: 815px;
  height: 520px;
  margin-top: 30px;
}
#content_galerias #pg_amazonpec #area_images ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: -20px;
}
#content_galerias #pg_amazonpec #area_images ul li {
  display: inline;
  margin-left: 5px;
}
#content_galerias #pg_amazonpec #area_images ul li img {
  border: 3px solid #fda62c;
}
/* NOTICIAS */
#pag_noticias #noticias {
  background: url(../images/bg_noticias_prev.png);
  float: left;
  width: 410px;
  height: 555px;
  margin-left: 100px;
}
#pag_noticias #noticias #titulo {
  font-size: 25px;
  float: left;
  margin-left: 10px;
  margin-top: 40px;
  font-family: verdana;
  color: #e08404;
}
#pag_noticias #noticias #area_noticias {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
#pag_noticias #noticias #area_noticias ul {
  list-style: none;
}
#pag_noticias #noticias #area_noticias ul li .titulo {
  font-size: 18px;
  color: #df5401;
  font-family: verdana;
}
#pag_noticias #noticias #area_noticias ul li .prev {
  font-size: 15px;
  width: 385px;
  font-family: verdana;
  text-align: justify;
}
#pag_noticias #noticias #area_noticias ul li .separator {
  background-color: #e08404;
  width: 390px;
  height: 4px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#pag_noticias #noticias #area_noticias #noticias_navi {
  float: left;
  margin-top: 50px;
  margin-left: 90px;
  color: #e08404;
}
#pag_noticias #noticias #area_noticias #noticias_navi #volt {
  float: left;
}
#pag_noticias #noticias #area_noticias #noticias_navi #proxi {
  float: left;
  margin-left: 10px;
}
#pag_noticias #noticias_principal {
  background: url(../images/bg_noticias_principal.png);
  float: right;
  width: 680px;
  height: 560px;
}
#pag_noticias #noticias_principal #titulo_principal {
  float: left;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 17px;
  color: #df5401;
}
#pag_noticias #noticias_principal #noticias_texto {
  max-width: 100%;
  margin-left: 10px;
}
#pag_noticias #noticias_principal #noticias_texto img {
  max-width: 100%;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#pag_noticias #noticias_principal #noticias_texto p {
  font-size: 15px;
}
/* PORTIFOLIO */
#pag_portifolio #area_anos {
  float: left;
  width: 235px;
  margin-left: 100px;
  margin-top: 70px;
}
#pag_portifolio #area_anos p {
  font-size: 18px;
  font-family: verdana;
  color: #e56d02;
  margin-bottom: 10px;
}
#pag_portifolio #area_anos ul {
  list-style-type: none;
}
#pag_portifolio #area_anos ul li {
  background-color: #bcbbbb;
  height: 50px;
  margin-top: 1px;
  text-decoration: none;
}
#pag_portifolio #area_anos ul li p {
  color: #fff;
  font-size: 20px;
  padding-top: 15px;
  padding-left: 15px;
  height: 28px;
}
#pag_portifolio #area_anos ul li:hover {
  background-color: #ffb350;
}
#pag_portifolio #area_anos ul li:hover a {
  text-decoration: none;
}
#pag_portifolio #portifolio_principal {
  background: url(../images/bg_portifolio_principal.png);
  float: right;
  width: 800px;
  height: 555px;
}
#pag_portifolio #portifolio_principal .ano {
  font-size: 45px;
  color: #ed7307;
  margin-top: 30px;
}
#pag_portifolio #portifolio_principal ul {
  list-style: none;
  margin-left: 10px;
}
#pag_portifolio #portifolio_principal ul li {
  display: inline;
  margin-left: 20px;
}
#pag_portifolio #portifolio_principal ul li img {
  margin-bottom: 5px;
  margin-left: 5px;
  border: 3px solid #ed7307;
}
